body {
  background: url("../img/background.jpg")no-repeat center center fixed;
  background-size: cover;
  color: yellow;
}

li a {
  color: yellow;
  background-color: red;
}

.nav {
  background-color: green;
  width: 100%;
  height: 50px;
}

.right-nav {
  float: right;
  list-style-type: none;
  margin: 19px;
}

.left-nav {
  float: left;
  list-style-type: none;
  margin-left: 40%;
  margin-top: -15px;
}

h1 {
  background-color: orange;
}

.killers {
  clear: both;
}

.killer img {
  width: 50%;
  min-width: 150px;
  max-width: 270px;
}

.killer:nth-of-type(even) {
  float: right;
  width: 49%;
  background-color: red;
  margin-bottom: 20px;
}

.killer:nth-of-type(odd) {
  float: left;
  width: 49%;
  background-color: blue;
  margin-bottom: 20px;
}

.killer:nth-of-type(even) img {
  float: left;
}

.killer:nth-of-type(odd) img {
  float: right;
}

@media screen and (max-width: 905px) {
  .left-nav {
    float: left;
    list-style-type: none;
    margin-left: 0px;
    margin-top: -15px;
  }
}

@media screen and (max-width: 800px) {
  .killer:nth-of-type(even) {
    float: none;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .killer:nth-of-type(odd) {
    float: none;
    width: 80%;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
  }
  .killer img {
    width: 100%;
    max-width: 1000px;
  }

  .left-nav {
    float: none;
    text-align: center;
    margin-left: 0px;
  }
  .nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
  }
}
